# Swaps
- GetSwaps uses musd-pools-mezo

In [2]:
import pandas as pd
from dotenv import load_dotenv
import os
from mezo.currency_utils import format_musd_currency_columns, get_token_prices
from mezo.datetime_utils import format_datetimes
from mezo.data_utils import add_rolling_values, add_pct_change_columns, add_cumulative_columns
from mezo.clients import BigQueryClient, SubgraphClient, Web3Client

load_dotenv(dotenv_path='../.env', override=True)
COINGECKO_KEY = os.getenv('COINGECKO_KEY')

In [3]:
SWAPS_SUBGRAPH = "https://api.goldsky.com/api/public/project_cm6ks2x8um4aj01uj8nwg1f6r/subgraphs/musd-pools-mezo/1.0.0/gn"

SUBGRAPH_HEADERS = {
        "Content-Type": "application/json",
    }

GET_SWAPS = """
query GetSwaps($skip: Int!) {
  swaps(
  first: 1000
  orderBy: timestamp_
  orderDirection: desc
  skip: $skip
  ) {
    timestamp_
    sender
    to
    contractId_
    amount0In
    amount0Out
    amount1In
    amount1Out
    transactionHash_
    block_number
  }
}
"""

In [4]:
# Instantiate subgraph
swaps = SubgraphClient(
    url = SWAPS_SUBGRAPH,
    headers = SUBGRAPH_HEADERS
)

In [5]:
# Fetch subgraph data
swap_data =  swaps.fetch_subgraph_data(GET_SWAPS, 'swaps')

Fetching transactions with skip=0...
Fetching transactions with skip=1000...
Fetching transactions with skip=2000...
Fetching transactions with skip=3000...
Fetching transactions with skip=4000...
Fetching transactions with skip=5000...
Fetching transactions with skip=6000...
Fetching transactions with skip=7000...
Fetching transactions with skip=8000...
Fetching transactions with skip=9000...
Fetching transactions with skip=10000...
Fetching transactions with skip=11000...
Fetching transactions with skip=12000...
Fetching transactions with skip=13000...
Fetching transactions with skip=14000...
Fetching transactions with skip=15000...
Fetching transactions with skip=16000...
No more records found.

In [17]:
# Save vaults data df

swaps_df = pd.DataFrame(swap_data)
display(swaps_df)

,timestamp_,sender,to,contractId_,amount0In,amount0Out,amount1In,amount1Out,transactionHash_,block_number
0,1753715740,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x8f37fdd3037b29195975d9e2f7bbb36ca51887dc,0x52e604c44417233b6ccedddc0d640a405caacefb,46406250000000,0,0,5501574552196358195,0x7536166cc8d152225e50286729261f6b2b751ff0e3c1...,2028206
1,1753715646,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x8f37fdd3037b29195975d9e2f7bbb36ca51887dc,0x52e604c44417233b6ccedddc0d640a405caacefb,8437500000000,0,0,1000415557505680039,0x60b6c8c1474f024eba08cabf9a834f35466620668ffe...,2028180
2,1753715467,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x87e92cf3355b007a5e085707d893a2dc457d69a5,0x52e604c44417233b6ccedddc0d640a405caacefb,170000000000000,0,0,20164999767454691189,0x8e3d8d0a7b98aaec6c66df89d4fd3d1b0a5d13507e08...,2028130
3,1753715431,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x87e92cf3355b007a5e085707d893a2dc457d69a5,0x52e604c44417233b6ccedddc0d640a405caacefb,0,184365207456963,22000000000000000000,0,0xf7a62e2104c0d9f067ddfb6eb677caf44f83b815978e...,2028120
4,1753715356,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x84c0ea0e9cf4e5e8f1f3a72dd636e5fdc44cbc01,0x52e604c44417233b6ccedddc0d640a405caacefb,86000000000000,0,0,10198380657993232023,0x45c979bbc1d8e4ae94b6586e6e16ccb23d98ac2c0ea9...,2028099
...,...,...,...,...,...,...,...,...,...,...
15206,1752013895,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x52d033e64774f31a8b7562806aa5782cbbd29382,0x52e604c44417233b6ccedddc0d640a405caacefb,250000000000000,0,0,28463880024065974068,0x635f6d5a45a9bee6cdd11b40987141a6ca4225b7ab97...,1555293
15207,1751924558,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0x52e604c44417233b6ccedddc0d640a405caacefb,0,157198903110751,18910000000000000000,0,0x32011a0f2a46f7c3560a3e7c7a341c3ecdad2d784cc8...,1530335
15208,1751924405,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0xed812aec0fecc8fd882ac3eccc43f3aa80a6c356,2010400,0,0,2009989838895249558,0x3afbf42ee8974285284f7bc0a5f621a5022cee2f0a7e...,1530292
15209,1750952336,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0x10906a9e9215939561597b4c8e4b98f93c02031a,0,999896001631977073,1000000,0,0x14869a1d4d2fd0a499d95c70d104132e1d6bc31372c7...,1264305
15210,1748424027,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x52d033e64774f31a8b7562806aa5782cbbd29382,0x52e604c44417233b6ccedddc0d640a405caacefb,0,9162019574786,1000000000000000000,0,0x914bbd24eba8cc9a36a0c82ecf91d1f77eb6a6d04847...,558263

In [7]:

POOLS_MAP = {
    '0x52e604c44417233b6ccedddc0d640a405caacefb': 'musd_btc_pool',
    '0xed812aec0fecc8fd882ac3eccc43f3aa80a6c356': 'musd_musdc_pool',
    '0x10906a9e9215939561597b4c8e4b98f93c02031a': 'musd_musdt_pool'
}

In [18]:
swaps_df['pool'] = swaps_df['contractId_'].map(POOLS_MAP)

In [19]:
display(swaps_df)

,timestamp_,sender,to,contractId_,amount0In,amount0Out,amount1In,amount1Out,transactionHash_,block_number,pool
0,1753715740,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x8f37fdd3037b29195975d9e2f7bbb36ca51887dc,0x52e604c44417233b6ccedddc0d640a405caacefb,46406250000000,0,0,5501574552196358195,0x7536166cc8d152225e50286729261f6b2b751ff0e3c1...,2028206,musd_btc_pool
1,1753715646,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x8f37fdd3037b29195975d9e2f7bbb36ca51887dc,0x52e604c44417233b6ccedddc0d640a405caacefb,8437500000000,0,0,1000415557505680039,0x60b6c8c1474f024eba08cabf9a834f35466620668ffe...,2028180,musd_btc_pool
2,1753715467,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x87e92cf3355b007a5e085707d893a2dc457d69a5,0x52e604c44417233b6ccedddc0d640a405caacefb,170000000000000,0,0,20164999767454691189,0x8e3d8d0a7b98aaec6c66df89d4fd3d1b0a5d13507e08...,2028130,musd_btc_pool
3,1753715431,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x87e92cf3355b007a5e085707d893a2dc457d69a5,0x52e604c44417233b6ccedddc0d640a405caacefb,0,184365207456963,22000000000000000000,0,0xf7a62e2104c0d9f067ddfb6eb677caf44f83b815978e...,2028120,musd_btc_pool
4,1753715356,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x84c0ea0e9cf4e5e8f1f3a72dd636e5fdc44cbc01,0x52e604c44417233b6ccedddc0d640a405caacefb,86000000000000,0,0,10198380657993232023,0x45c979bbc1d8e4ae94b6586e6e16ccb23d98ac2c0ea9...,2028099,musd_btc_pool
...,...,...,...,...,...,...,...,...,...,...,...
15206,1752013895,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x52d033e64774f31a8b7562806aa5782cbbd29382,0x52e604c44417233b6ccedddc0d640a405caacefb,250000000000000,0,0,28463880024065974068,0x635f6d5a45a9bee6cdd11b40987141a6ca4225b7ab97...,1555293,musd_btc_pool
15207,1751924558,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0x52e604c44417233b6ccedddc0d640a405caacefb,0,157198903110751,18910000000000000000,0,0x32011a0f2a46f7c3560a3e7c7a341c3ecdad2d784cc8...,1530335,musd_btc_pool
15208,1751924405,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0xed812aec0fecc8fd882ac3eccc43f3aa80a6c356,2010400,0,0,2009989838895249558,0x3afbf42ee8974285284f7bc0a5f621a5022cee2f0a7e...,1530292,musd_musdc_pool
15209,1750952336,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0x10906a9e9215939561597b4c8e4b98f93c02031a,0,999896001631977073,1000000,0,0x14869a1d4d2fd0a499d95c70d104132e1d6bc31372c7...,1264305,musd_musdt_pool
15210,1748424027,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x52d033e64774f31a8b7562806aa5782cbbd29382,0x52e604c44417233b6ccedddc0d640a405caacefb,0,9162019574786,1000000000000000000,0,0x914bbd24eba8cc9a36a0c82ecf91d1f77eb6a6d04847...,558263,musd_btc_pool

In [20]:
format_datetimes(swaps_df, date_columns=['timestamp_'])

,timestamp_,sender,to,contractId_,amount0In,amount0Out,amount1In,amount1Out,transactionHash_,block_number,pool
0,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x8f37fdd3037b29195975d9e2f7bbb36ca51887dc,0x52e604c44417233b6ccedddc0d640a405caacefb,46406250000000,0,0,5501574552196358195,0x7536166cc8d152225e50286729261f6b2b751ff0e3c1...,2028206,musd_btc_pool
1,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x8f37fdd3037b29195975d9e2f7bbb36ca51887dc,0x52e604c44417233b6ccedddc0d640a405caacefb,8437500000000,0,0,1000415557505680039,0x60b6c8c1474f024eba08cabf9a834f35466620668ffe...,2028180,musd_btc_pool
2,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x87e92cf3355b007a5e085707d893a2dc457d69a5,0x52e604c44417233b6ccedddc0d640a405caacefb,170000000000000,0,0,20164999767454691189,0x8e3d8d0a7b98aaec6c66df89d4fd3d1b0a5d13507e08...,2028130,musd_btc_pool
3,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x87e92cf3355b007a5e085707d893a2dc457d69a5,0x52e604c44417233b6ccedddc0d640a405caacefb,0,184365207456963,22000000000000000000,0,0xf7a62e2104c0d9f067ddfb6eb677caf44f83b815978e...,2028120,musd_btc_pool
4,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x84c0ea0e9cf4e5e8f1f3a72dd636e5fdc44cbc01,0x52e604c44417233b6ccedddc0d640a405caacefb,86000000000000,0,0,10198380657993232023,0x45c979bbc1d8e4ae94b6586e6e16ccb23d98ac2c0ea9...,2028099,musd_btc_pool
...,...,...,...,...,...,...,...,...,...,...,...
15206,2025-07-08,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x52d033e64774f31a8b7562806aa5782cbbd29382,0x52e604c44417233b6ccedddc0d640a405caacefb,250000000000000,0,0,28463880024065974068,0x635f6d5a45a9bee6cdd11b40987141a6ca4225b7ab97...,1555293,musd_btc_pool
15207,2025-07-07,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0x52e604c44417233b6ccedddc0d640a405caacefb,0,157198903110751,18910000000000000000,0,0x32011a0f2a46f7c3560a3e7c7a341c3ecdad2d784cc8...,1530335,musd_btc_pool
15208,2025-07-07,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0xed812aec0fecc8fd882ac3eccc43f3aa80a6c356,2010400,0,0,2009989838895249558,0x3afbf42ee8974285284f7bc0a5f621a5022cee2f0a7e...,1530292,musd_musdc_pool
15209,2025-06-26,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0x10906a9e9215939561597b4c8e4b98f93c02031a,0,999896001631977073,1000000,0,0x14869a1d4d2fd0a499d95c70d104132e1d6bc31372c7...,1264305,musd_musdt_pool
15210,2025-05-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x52d033e64774f31a8b7562806aa5782cbbd29382,0x52e604c44417233b6ccedddc0d640a405caacefb,0,9162019574786,1000000000000000000,0,0x914bbd24eba8cc9a36a0c82ecf91d1f77eb6a6d04847...,558263,musd_btc_pool

In [21]:
pd.options.display.float_format = '{:.8f}'.format

In [22]:
from decimal import Decimal

def format_token_columns(df, cols, asset):
    def convert(x, token):
        if pd.isnull(x):
            return 0
        if token in {"USDC", "USDT"}:
            scale = Decimal("1e6")
        elif token in {"WBTC", "FBTC", "cbBTC", "swBTC"}:
            scale = Decimal("1e8")
        else:
            scale = Decimal("1e18")
        return float((Decimal(x) / scale).normalize())

    for col in cols:
        df[col] = pd.to_numeric(df[col], errors='coerce')
        df[col] = df.apply(lambda row: convert(row[col], row[asset]), axis=1)
    
    return df

In [23]:
TOKEN_MAP = {
    '0x52e604c44417233b6ccedddc0d640a405caacefb': 'BTC',
    '0xed812aec0fecc8fd882ac3eccc43f3aa80a6c356': 'USDC',
    '0x10906a9e9215939561597b4c8e4b98f93c02031a': 'USDT'
}

In [24]:
swaps_df['token'] = swaps_df['contractId_'].map(TOKEN_MAP)

In [25]:
display(swaps_df)

,timestamp_,sender,to,contractId_,amount0In,amount0Out,amount1In,amount1Out,transactionHash_,block_number,pool,token
0,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x8f37fdd3037b29195975d9e2f7bbb36ca51887dc,0x52e604c44417233b6ccedddc0d640a405caacefb,46406250000000,0,0,5501574552196358195,0x7536166cc8d152225e50286729261f6b2b751ff0e3c1...,2028206,musd_btc_pool,BTC
1,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x8f37fdd3037b29195975d9e2f7bbb36ca51887dc,0x52e604c44417233b6ccedddc0d640a405caacefb,8437500000000,0,0,1000415557505680039,0x60b6c8c1474f024eba08cabf9a834f35466620668ffe...,2028180,musd_btc_pool,BTC
2,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x87e92cf3355b007a5e085707d893a2dc457d69a5,0x52e604c44417233b6ccedddc0d640a405caacefb,170000000000000,0,0,20164999767454691189,0x8e3d8d0a7b98aaec6c66df89d4fd3d1b0a5d13507e08...,2028130,musd_btc_pool,BTC
3,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x87e92cf3355b007a5e085707d893a2dc457d69a5,0x52e604c44417233b6ccedddc0d640a405caacefb,0,184365207456963,22000000000000000000,0,0xf7a62e2104c0d9f067ddfb6eb677caf44f83b815978e...,2028120,musd_btc_pool,BTC
4,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x84c0ea0e9cf4e5e8f1f3a72dd636e5fdc44cbc01,0x52e604c44417233b6ccedddc0d640a405caacefb,86000000000000,0,0,10198380657993232023,0x45c979bbc1d8e4ae94b6586e6e16ccb23d98ac2c0ea9...,2028099,musd_btc_pool,BTC
...,...,...,...,...,...,...,...,...,...,...,...,...
15206,2025-07-08,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x52d033e64774f31a8b7562806aa5782cbbd29382,0x52e604c44417233b6ccedddc0d640a405caacefb,250000000000000,0,0,28463880024065974068,0x635f6d5a45a9bee6cdd11b40987141a6ca4225b7ab97...,1555293,musd_btc_pool,BTC
15207,2025-07-07,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0x52e604c44417233b6ccedddc0d640a405caacefb,0,157198903110751,18910000000000000000,0,0x32011a0f2a46f7c3560a3e7c7a341c3ecdad2d784cc8...,1530335,musd_btc_pool,BTC
15208,2025-07-07,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0xed812aec0fecc8fd882ac3eccc43f3aa80a6c356,2010400,0,0,2009989838895249558,0x3afbf42ee8974285284f7bc0a5f621a5022cee2f0a7e...,1530292,musd_musdc_pool,USDC
15209,2025-06-26,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0x10906a9e9215939561597b4c8e4b98f93c02031a,0,999896001631977073,1000000,0,0x14869a1d4d2fd0a499d95c70d104132e1d6bc31372c7...,1264305,musd_musdt_pool,USDT
15210,2025-05-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x52d033e64774f31a8b7562806aa5782cbbd29382,0x52e604c44417233b6ccedddc0d640a405caacefb,0,9162019574786,1000000000000000000,0,0x914bbd24eba8cc9a36a0c82ecf91d1f77eb6a6d04847...,558263,musd_btc_pool,BTC

In [26]:
format_token_columns(swaps_df, cols=['amount0In', 'amount0Out'], asset='token')

,timestamp_,sender,to,contractId_,amount0In,amount0Out,amount1In,amount1Out,transactionHash_,block_number,pool,token
0,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x8f37fdd3037b29195975d9e2f7bbb36ca51887dc,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00004641,0.00000000,0,5501574552196358195,0x7536166cc8d152225e50286729261f6b2b751ff0e3c1...,2028206,musd_btc_pool,BTC
1,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x8f37fdd3037b29195975d9e2f7bbb36ca51887dc,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000844,0.00000000,0,1000415557505680039,0x60b6c8c1474f024eba08cabf9a834f35466620668ffe...,2028180,musd_btc_pool,BTC
2,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x87e92cf3355b007a5e085707d893a2dc457d69a5,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00017000,0.00000000,0,20164999767454691189,0x8e3d8d0a7b98aaec6c66df89d4fd3d1b0a5d13507e08...,2028130,musd_btc_pool,BTC
3,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x87e92cf3355b007a5e085707d893a2dc457d69a5,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000000,0.00018437,22000000000000000000,0,0xf7a62e2104c0d9f067ddfb6eb677caf44f83b815978e...,2028120,musd_btc_pool,BTC
4,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x84c0ea0e9cf4e5e8f1f3a72dd636e5fdc44cbc01,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00008600,0.00000000,0,10198380657993232023,0x45c979bbc1d8e4ae94b6586e6e16ccb23d98ac2c0ea9...,2028099,musd_btc_pool,BTC
...,...,...,...,...,...,...,...,...,...,...,...,...
15206,2025-07-08,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x52d033e64774f31a8b7562806aa5782cbbd29382,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00025000,0.00000000,0,28463880024065974068,0x635f6d5a45a9bee6cdd11b40987141a6ca4225b7ab97...,1555293,musd_btc_pool,BTC
15207,2025-07-07,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000000,0.00015720,18910000000000000000,0,0x32011a0f2a46f7c3560a3e7c7a341c3ecdad2d784cc8...,1530335,musd_btc_pool,BTC
15208,2025-07-07,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0xed812aec0fecc8fd882ac3eccc43f3aa80a6c356,2.01040000,0.00000000,0,2009989838895249558,0x3afbf42ee8974285284f7bc0a5f621a5022cee2f0a7e...,1530292,musd_musdc_pool,USDC
15209,2025-06-26,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0x10906a9e9215939561597b4c8e4b98f93c02031a,0.00000000,999896001631.97705078,1000000,0,0x14869a1d4d2fd0a499d95c70d104132e1d6bc31372c7...,1264305,musd_musdt_pool,USDT
15210,2025-05-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x52d033e64774f31a8b7562806aa5782cbbd29382,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000000,0.00000916,1000000000000000000,0,0x914bbd24eba8cc9a36a0c82ecf91d1f77eb6a6d04847...,558263,musd_btc_pool,BTC

In [27]:
format_musd_currency_columns(swaps_df, cols=['amount1In', 'amount1Out'])

,timestamp_,sender,to,contractId_,amount0In,amount0Out,amount1In,amount1Out,transactionHash_,block_number,pool,token
0,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x8f37fdd3037b29195975d9e2f7bbb36ca51887dc,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00004641,0.00000000,0.00000000,5.50157455,0x7536166cc8d152225e50286729261f6b2b751ff0e3c1...,2028206,musd_btc_pool,BTC
1,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x8f37fdd3037b29195975d9e2f7bbb36ca51887dc,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000844,0.00000000,0.00000000,1.00041556,0x60b6c8c1474f024eba08cabf9a834f35466620668ffe...,2028180,musd_btc_pool,BTC
2,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x87e92cf3355b007a5e085707d893a2dc457d69a5,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00017000,0.00000000,0.00000000,20.16499977,0x8e3d8d0a7b98aaec6c66df89d4fd3d1b0a5d13507e08...,2028130,musd_btc_pool,BTC
3,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x87e92cf3355b007a5e085707d893a2dc457d69a5,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000000,0.00018437,22.00000000,0.00000000,0xf7a62e2104c0d9f067ddfb6eb677caf44f83b815978e...,2028120,musd_btc_pool,BTC
4,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x84c0ea0e9cf4e5e8f1f3a72dd636e5fdc44cbc01,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00008600,0.00000000,0.00000000,10.19838066,0x45c979bbc1d8e4ae94b6586e6e16ccb23d98ac2c0ea9...,2028099,musd_btc_pool,BTC
...,...,...,...,...,...,...,...,...,...,...,...,...
15206,2025-07-08,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x52d033e64774f31a8b7562806aa5782cbbd29382,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00025000,0.00000000,0.00000000,28.46388002,0x635f6d5a45a9bee6cdd11b40987141a6ca4225b7ab97...,1555293,musd_btc_pool,BTC
15207,2025-07-07,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000000,0.00015720,18.91000000,0.00000000,0x32011a0f2a46f7c3560a3e7c7a341c3ecdad2d784cc8...,1530335,musd_btc_pool,BTC
15208,2025-07-07,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0xed812aec0fecc8fd882ac3eccc43f3aa80a6c356,2.01040000,0.00000000,0.00000000,2.00998984,0x3afbf42ee8974285284f7bc0a5f621a5022cee2f0a7e...,1530292,musd_musdc_pool,USDC
15209,2025-06-26,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0x10906a9e9215939561597b4c8e4b98f93c02031a,0.00000000,999896001631.97705078,0.00000000,0.00000000,0x14869a1d4d2fd0a499d95c70d104132e1d6bc31372c7...,1264305,musd_musdt_pool,USDT
15210,2025-05-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x52d033e64774f31a8b7562806aa5782cbbd29382,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000000,0.00000916,1.00000000,0.00000000,0x914bbd24eba8cc9a36a0c82ecf91d1f77eb6a6d04847...,558263,musd_btc_pool,BTC

In [51]:
swaps_df

,timestamp_,sender,to,contractId_,amount0In,amount0Out,amount1In,amount1Out,transactionHash_,block_number,pool,token,count,index
0,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x8f37fdd3037b29195975d9e2f7bbb36ca51887dc,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00004641,0.00000000,0.00000000,5.50157455,0x7536166cc8d152225e50286729261f6b2b751ff0e3c1...,2028206,musd_btc_pool,BTC,1,bitcoin
1,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x8f37fdd3037b29195975d9e2f7bbb36ca51887dc,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000844,0.00000000,0.00000000,1.00041556,0x60b6c8c1474f024eba08cabf9a834f35466620668ffe...,2028180,musd_btc_pool,BTC,1,bitcoin
2,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x87e92cf3355b007a5e085707d893a2dc457d69a5,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00017000,0.00000000,0.00000000,20.16499977,0x8e3d8d0a7b98aaec6c66df89d4fd3d1b0a5d13507e08...,2028130,musd_btc_pool,BTC,1,bitcoin
3,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x87e92cf3355b007a5e085707d893a2dc457d69a5,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000000,0.00018437,22.00000000,0.00000000,0xf7a62e2104c0d9f067ddfb6eb677caf44f83b815978e...,2028120,musd_btc_pool,BTC,1,bitcoin
4,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x84c0ea0e9cf4e5e8f1f3a72dd636e5fdc44cbc01,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00008600,0.00000000,0.00000000,10.19838066,0x45c979bbc1d8e4ae94b6586e6e16ccb23d98ac2c0ea9...,2028099,musd_btc_pool,BTC,1,bitcoin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15206,2025-07-08,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x52d033e64774f31a8b7562806aa5782cbbd29382,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00025000,0.00000000,0.00000000,28.46388002,0x635f6d5a45a9bee6cdd11b40987141a6ca4225b7ab97...,1555293,musd_btc_pool,BTC,1,bitcoin
15207,2025-07-07,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000000,0.00015720,18.91000000,0.00000000,0x32011a0f2a46f7c3560a3e7c7a341c3ecdad2d784cc8...,1530335,musd_btc_pool,BTC,1,bitcoin
15208,2025-07-07,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0xed812aec0fecc8fd882ac3eccc43f3aa80a6c356,2.01040000,0.00000000,0.00000000,2.00998984,0x3afbf42ee8974285284f7bc0a5f621a5022cee2f0a7e...,1530292,musd_musdc_pool,USDC,1,usd-coin
15209,2025-06-26,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0x10906a9e9215939561597b4c8e4b98f93c02031a,0.00000000,999896001631.97705078,0.00000000,0.00000000,0x14869a1d4d2fd0a499d95c70d104132e1d6bc31372c7...,1264305,musd_musdt_pool,USDT,1,tether
15210,2025-05-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x52d033e64774f31a8b7562806aa5782cbbd29382,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000000,0.00000916,1.00000000,0.00000000,0x914bbd24eba8cc9a36a0c82ecf91d1f77eb6a6d04847...,558263,musd_btc_pool,BTC,1,bitcoin

In [52]:
swaps_df['count'] = 1

In [29]:
# daily
daily_swaps = swaps_df.groupby(['timestamp_']).agg(
    total_swaps = ('count', 'sum'),
    users = ('to', lambda x: x.nunique()),
    first_asset_in = ('amount0In', 'sum'),
    first_asset_out = ('amount0Out', 'sum'),
    musd_in = ('amount1In', 'sum'),
    musd_out = ('amount1Out', 'sum')
).reset_index()

In [30]:
# daily
daily_swaps_by_pool = swaps_df.groupby(['timestamp_', 'pool']).agg(
    total_swaps = ('count', 'sum'),
    users = ('to', lambda x: x.nunique()),
    first_asset_in = ('amount0In', 'sum'),
    first_asset_out = ('amount0Out', 'sum'),
    musd_in = ('amount1In', 'sum'),
    musd_out = ('amount1Out', 'sum')
).reset_index()

In [31]:
daily_swaps_by_pool = daily_swaps_by_pool.pivot(
    index='timestamp_', columns='pool'
).fillna(0)

In [32]:
daily_swaps_by_pool.columns = [
'_'.join(col).strip() for col in daily_swaps_by_pool.columns.values
]

daily_swaps_by_pool = daily_swaps_by_pool.reset_index()

In [ ]:
# Next, convert to USD for cumulative, pct change, and rolling averages

In [33]:
from mezo.currency_config import TOKENS_ID_MAP
from mezo.currency_utils import get_token_prices

def fetch_token_prices():
    prices = get_token_prices()
    if prices is None or prices.empty:
        raise ValueError("No token prices received from API")
    return prices

tokens = fetch_token_prices()
token_usd_prices = tokens.T.reset_index()

swaps_df['index'] = swaps_df['token'].map(TOKENS_ID_MAP)

In [74]:
swaps_df

,timestamp_,sender,to,contractId_,amount0In,amount0Out,amount1In,amount1Out,transactionHash_,block_number,pool,token,count,mapped_token,index
0,2025-07-24,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0xd33d6e9b9affcde971172f28e252d85bec95318e,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000000,0.00007773,9.15000000,0.00000000,0x728a9a4608ce4acdde79b09f78af13860bac95571548...,1938537,musd_btc_pool,BTC,1,bitcoin,bitcoin
1,2025-07-24,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0xf81abc9bba9d25edd8bdefbc6e188e23ac2151c0,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000000,0.00004249,5.00000000,0.00000000,0x27f07308df815391ff35cc406fbde525b9d06c4cd9f2...,1938527,musd_btc_pool,BTC,1,bitcoin,bitcoin
2,2025-07-24,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6b692287c8136ad93bacc50f28aff1475a841f6f,0xed812aec0fecc8fd882ac3eccc43f3aa80a6c356,0.00000000,4.13489200,4.00000000,0.00000000,0xd2742d8b75fc2c728588aabed4c6b1ab6745b923e247...,1938525,musd_musdc_pool,USDC,1,usd-coin,usd-coin
3,2025-07-24,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0xea5cb7958e580b2e7e89e41264502744efdac43f,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000000,0.00005099,6.00000000,0.00000000,0x08e748b487982342960c1058d3a1451930453f1ef305...,1938521,musd_btc_pool,BTC,1,bitcoin,bitcoin
4,2025-07-24,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0xef7b861bb22564521045457488cedb8e78f8f327,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000000,0.00023984,28.20000000,0.00000000,0x5dcb631dccc1befb44ff9dad64d2e8f94cc8ef7f107c...,1938519,musd_btc_pool,BTC,1,bitcoin,bitcoin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9500,2025-07-08,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x52d033e64774f31a8b7562806aa5782cbbd29382,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00025000,0.00000000,0.00000000,28.46388002,0x635f6d5a45a9bee6cdd11b40987141a6ca4225b7ab97...,1555293,musd_btc_pool,BTC,1,bitcoin,bitcoin
9501,2025-07-07,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000000,0.00015720,18.91000000,0.00000000,0x32011a0f2a46f7c3560a3e7c7a341c3ecdad2d784cc8...,1530335,musd_btc_pool,BTC,1,bitcoin,bitcoin
9502,2025-07-07,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0xed812aec0fecc8fd882ac3eccc43f3aa80a6c356,2.01040000,0.00000000,0.00000000,2.00998984,0x3afbf42ee8974285284f7bc0a5f621a5022cee2f0a7e...,1530292,musd_musdc_pool,USDC,1,usd-coin,usd-coin
9503,2025-06-26,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0x10906a9e9215939561597b4c8e4b98f93c02031a,0.00000000,999896001631.97705078,0.00000000,0.00000000,0x14869a1d4d2fd0a499d95c70d104132e1d6bc31372c7...,1264305,musd_musdt_pool,USDT,1,tether,tether
9504,2025-05-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x52d033e64774f31a8b7562806aa5782cbbd29382,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000000,0.00000916,1.00000000,0.00000000,0x914bbd24eba8cc9a36a0c82ecf91d1f77eb6a6d04847...,558263,musd_btc_pool,BTC,1,bitcoin,bitcoin

In [53]:
swaps_df_with_usd = pd.merge(swaps_df, token_usd_prices, how='left', on='index')
swaps_df_with_usd['amount_usd_in'] = swaps_df_with_usd['amount0In'] * swaps_df_with_usd['usd']
swaps_df_with_usd['amount_usd_out'] = swaps_df_with_usd['amount0Out'] * swaps_df_with_usd['usd']

In [54]:
swaps_df_with_usd

,timestamp_,sender,to,contractId_,amount0In,amount0Out,amount1In,amount1Out,transactionHash_,block_number,pool,token,count,index,usd,amount_usd_in,amount_usd_out
0,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x8f37fdd3037b29195975d9e2f7bbb36ca51887dc,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00004641,0.00000000,0.00000000,5.50157455,0x7536166cc8d152225e50286729261f6b2b751ff0e3c1...,2028206,musd_btc_pool,BTC,1,bitcoin,118150.00000000,5.48289844,0.00000000
1,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x8f37fdd3037b29195975d9e2f7bbb36ca51887dc,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000844,0.00000000,0.00000000,1.00041556,0x60b6c8c1474f024eba08cabf9a834f35466620668ffe...,2028180,musd_btc_pool,BTC,1,bitcoin,118150.00000000,0.99689063,0.00000000
2,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x87e92cf3355b007a5e085707d893a2dc457d69a5,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00017000,0.00000000,0.00000000,20.16499977,0x8e3d8d0a7b98aaec6c66df89d4fd3d1b0a5d13507e08...,2028130,musd_btc_pool,BTC,1,bitcoin,118150.00000000,20.08550000,0.00000000
3,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x87e92cf3355b007a5e085707d893a2dc457d69a5,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000000,0.00018437,22.00000000,0.00000000,0xf7a62e2104c0d9f067ddfb6eb677caf44f83b815978e...,2028120,musd_btc_pool,BTC,1,bitcoin,118150.00000000,0.00000000,21.78274926
4,2025-07-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x84c0ea0e9cf4e5e8f1f3a72dd636e5fdc44cbc01,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00008600,0.00000000,0.00000000,10.19838066,0x45c979bbc1d8e4ae94b6586e6e16ccb23d98ac2c0ea9...,2028099,musd_btc_pool,BTC,1,bitcoin,118150.00000000,10.16090000,0.00000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15206,2025-07-08,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x52d033e64774f31a8b7562806aa5782cbbd29382,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00025000,0.00000000,0.00000000,28.46388002,0x635f6d5a45a9bee6cdd11b40987141a6ca4225b7ab97...,1555293,musd_btc_pool,BTC,1,bitcoin,118150.00000000,29.53750000,0.00000000
15207,2025-07-07,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000000,0.00015720,18.91000000,0.00000000,0x32011a0f2a46f7c3560a3e7c7a341c3ecdad2d784cc8...,1530335,musd_btc_pool,BTC,1,bitcoin,118150.00000000,0.00000000,18.57305040
15208,2025-07-07,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0xed812aec0fecc8fd882ac3eccc43f3aa80a6c356,2.01040000,0.00000000,0.00000000,2.00998984,0x3afbf42ee8974285284f7bc0a5f621a5022cee2f0a7e...,1530292,musd_musdc_pool,USDC,1,usd-coin,0.99976500,2.00992756,0.00000000
15209,2025-06-26,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x6e80164ea60673d64d5d6228beb684a1274bb017,0x10906a9e9215939561597b4c8e4b98f93c02031a,0.00000000,999896001631.97705078,0.00000000,0.00000000,0x14869a1d4d2fd0a499d95c70d104132e1d6bc31372c7...,1264305,musd_musdt_pool,USDT,1,tether,0.99993600,0.00000000,999832008287.87268066
15210,2025-05-28,0x16a76d3cd3c1e3ce843c6680d6b37e9116b5c706,0x52d033e64774f31a8b7562806aa5782cbbd29382,0x52e604c44417233b6ccedddc0d640a405caacefb,0.00000000,0.00000916,1.00000000,0.00000000,0x914bbd24eba8cc9a36a0c82ecf91d1f77eb6a6d04847...,558263,musd_btc_pool,BTC,1,bitcoin,118150.00000000,0.00000000,1.08249261

In [81]:
swaps_df_with_usd.dtypes

timestamp_           object
sender               object
to                   object
contractId_          object
amount0In           float64
amount0Out          float64
amount1In           float64
amount1Out          float64
transactionHash_     object
block_number         object
pool                 object
token                object
count                 int64
mapped_token         object
index                object
usd                 float64
amount_usd_in       float64
amount_usd_out      float64
dtype: object

In [37]:
# daily
daily_swaps_usd = swaps_df_with_usd.groupby(['timestamp_']).agg(
    total_swaps = ('count', 'sum'),
    users = ('to', lambda x: x.nunique()),
    first_asset_in = ('amount0In', 'sum'),
    first_asset_in_usd = ('amount_usd_in', 'sum'),
    first_asset_out = ('amount0Out', 'sum'),
    first_asset_out_musd = ('amount_usd_out', 'sum'),
    musd_in = ('amount1In', 'sum'),
    musd_out = ('amount1Out', 'sum')
).reset_index()

In [47]:
daily_swaps_usd['volume'] = (
        daily_swaps_usd['musd_in'] + 
        daily_swaps_usd['musd_out']
    )

In [48]:
daily_swaps_usd['volume']

0        1.00000000
1        0.00000000
2       20.91998984
3       28.46388002
4      751.61538079
5     1237.24876340
6      693.06704497
7      100.00000000
8      405.00000000
9      424.93095809
10   57110.20441273
11   40601.83416562
12   45701.77179042
13   47637.22290702
14   54697.41144866
15   23815.59617734
16   36543.05132587
17   26412.80779901
18   37323.31409919
19   46094.08301110
20   22458.02131655
21   23312.77798873
22   18105.42969593
Name: volume, dtype: float64

In [55]:
add_rolling_values(daily_swaps_usd, 7, ['volume'])

,timestamp_,total_swaps,users,first_asset_in,first_asset_in_usd,first_asset_out,first_asset_out_musd,musd_in,musd_out,volume,rolling_volume_7
0,2025-05-28,1,1,0.00000000,0.00000000,0.00000916,1.08249261,1.00000000,0.00000000,1.00000000,1.00000000
1,2025-06-26,1,1,0.00000000,0.00000000,999896001631.97705078,999832008287.87268066,0.00000000,0.00000000,0.00000000,0.50000000
2,2025-07-07,2,1,2.01040000,2.00992756,0.00015720,18.57305040,18.91000000,2.00998984,20.91998984,7.30666328
3,2025-07-08,1,1,0.00025000,29.53750000,0.00000000,0.00000000,0.00000000,28.46388002,28.46388002,12.59596747
4,2025-07-09,8,2,1000000000000.00122070,999936000140.62207031,2.01509711,662.59872360,621.70990000,129.90548079,751.61538079,160.39985013
5,2025-07-10,4,2,0.00488847,577.57321763,0.00607914,718.24986720,687.53000000,549.71876340,1237.24876340,339.87466901
6,2025-07-11,10,2,5000000000007.00390625,4999680000012.12792969,1009897999970.02722168,1009833367194.30163574,681.01369009,12.05335488,693.06704497,390.33072272
7,2025-07-12,1,1,0.00000000,0.00000000,0.00085191,100.65286594,100.00000000,0.00000000,100.00000000,404.47357986
8,2025-07-14,1,1,0.00000000,0.00000000,0.00340886,402.75626832,405.00000000,0.00000000,405.00000000,462.33072272
9,2025-07-15,2,1,0.00360000,425.34000000,0.00000000,0.00000000,0.00000000,424.93095809,424.93095809,520.04657533
10,2025-07-16,249,71,312400000006221.37500000,312380006428471.00000000,250711783971997.25000000,250695738440375.21875000,28681.00802772,28429.19638501,57110.20441273,8674.58093714
11,2025-07-17,593,115,3489909720004970.00000000,3489686365798890.50000000,3710291888511726.50000000,3710054429846847.50000000,19774.87291348,20826.96125214,40601.83416562,14367.46933497
12,2025-07-18,1634,68,851983800009395.62500000,851929273060305.87500000,710541733146936.25000000,710496258489042.25000000,22648.47720905,23053.29458137,45701.77179042,20719.54405312
13,2025-07-19,1478,216,637037700003576.75000000,636996929611398.25000000,857171194340609.37500000,857116335404799.87500000,23726.56471745,23910.65818958,47637.22290702,27425.85203341
14,2025-07-20,1644,129,1078864141014686.12500000,1078795093722112.50000000,1298130718975400.00000000,1298047638622499.00000000,27973.07338900,26724.33805966,54697.41144866,35225.48224036
15,2025-07-21,754,154,526935042007913.93750000,526901318170485.93750000,399894623895455.56250000,399869030643193.00000000,10730.53685500,13085.05932233,23815.59617734,38569.85312284
16,2025-07-22,564,211,371564400004638.25000000,371540619896172.56250000,516361357220854.75000000,516328310108964.31250000,18886.52634464,17656.52498124,36543.05132587,43729.58460395
17,2025-07-23,623,288,706716854437488.75000000,706671624568936.12500000,789502998158018.75000000,789452469976174.87500000,13418.96119579,12993.84660322,26412.80779901,39344.24223056
18,2025-07-24,2258,1157,1476607556523661.75000000,1476513053655827.50000000,1562289873028635.75000000,1562189886492468.25000000,18516.30984290,18807.00425629,37323.31409919,38875.88222107
19,2025-07-25,2476,1246,962538205626274.25000000,962476603202034.12500000,905415427512427.50000000,905357480945766.00000000,23321.22706664,22772.85594445,46094.08301110,38931.92668117
20,2025-07-26,1385,808,484160727338968.68750000,484129741062193.12500000,474655770425359.31250000,474625392465980.75000000,11244.12397157,11213.89734498,22458.02131655,35334.89788253
21,2025-07-27,875,455,403346618001230.87500000,403320803827468.37500000,508074686515394.43750000,508042169745513.87500000,11798.51959721,11514.25839152,23312.77798873,30851.37881683
22,2025-07-28,647,320,1633159465861395.75000000,1633054943663396.75000000,1761190600073633.25000000,1761077883882719.25000000,8770.85340327,9334.57629266,18105.42969593,30035.64074805

In [57]:
daily_swaps_usd = add_rolling_values(daily_swaps_usd, 30, ['volume'])

In [58]:
daily_swaps_usd

,timestamp_,total_swaps,users,first_asset_in,first_asset_in_usd,first_asset_out,first_asset_out_musd,musd_in,musd_out,volume,rolling_volume_30
0,2025-05-28,1,1,0.00000000,0.00000000,0.00000916,1.08249261,1.00000000,0.00000000,1.00000000,1.00000000
1,2025-06-26,1,1,0.00000000,0.00000000,999896001631.97705078,999832008287.87268066,0.00000000,0.00000000,0.00000000,0.50000000
2,2025-07-07,2,1,2.01040000,2.00992756,0.00015720,18.57305040,18.91000000,2.00998984,20.91998984,7.30666328
3,2025-07-08,1,1,0.00025000,29.53750000,0.00000000,0.00000000,0.00000000,28.46388002,28.46388002,12.59596747
4,2025-07-09,8,2,1000000000000.00122070,999936000140.62207031,2.01509711,662.59872360,621.70990000,129.90548079,751.61538079,160.39985013
5,2025-07-10,4,2,0.00488847,577.57321763,0.00607914,718.24986720,687.53000000,549.71876340,1237.24876340,339.87466901
6,2025-07-11,10,2,5000000000007.00390625,4999680000012.12792969,1009897999970.02722168,1009833367194.30163574,681.01369009,12.05335488,693.06704497,390.33072272
7,2025-07-12,1,1,0.00000000,0.00000000,0.00085191,100.65286594,100.00000000,0.00000000,100.00000000,354.03938238
8,2025-07-14,1,1,0.00000000,0.00000000,0.00340886,402.75626832,405.00000000,0.00000000,405.00000000,359.70167323
9,2025-07-15,2,1,0.00360000,425.34000000,0.00000000,0.00000000,0.00000000,424.93095809,424.93095809,366.22460171
10,2025-07-16,249,71,312400000006221.37500000,312380006428471.00000000,250711783971997.25000000,250695738440375.21875000,28681.00802772,28429.19638501,57110.20441273,5524.76822090
11,2025-07-17,593,115,3489909720004970.00000000,3489686365798890.50000000,3710291888511726.50000000,3710054429846847.50000000,19774.87291348,20826.96125214,40601.83416562,8447.85704962
12,2025-07-18,1634,68,851983800009395.62500000,851929273060305.87500000,710541733146936.25000000,710496258489042.25000000,22648.47720905,23053.29458137,45701.77179042,11313.54279892
13,2025-07-19,1478,216,637037700003576.75000000,636996929611398.25000000,857171194340609.37500000,857116335404799.87500000,23726.56471745,23910.65818958,47637.22290702,13908.09137807
14,2025-07-20,1644,129,1078864141014686.12500000,1078795093722112.50000000,1298130718975400.00000000,1298047638622499.00000000,27973.07338900,26724.33805966,54697.41144866,16627.37938277
15,2025-07-21,754,154,526935042007913.93750000,526901318170485.93750000,399894623895455.56250000,399869030643193.00000000,10730.53685500,13085.05932233,23815.59617734,17076.64293243
16,2025-07-22,564,211,371564400004638.25000000,371540619896172.56250000,516361357220854.75000000,516328310108964.31250000,18886.52634464,17656.52498124,36543.05132587,18221.72577911
17,2025-07-23,623,288,706716854437488.75000000,706671624568936.12500000,789502998158018.75000000,789452469976174.87500000,13418.96119579,12993.84660322,26412.80779901,18676.78589132
18,2025-07-24,2258,1157,1476607556523661.75000000,1476513053655827.50000000,1562289873028635.75000000,1562189886492468.25000000,18516.30984290,18807.00425629,37323.31409919,19658.18211279
19,2025-07-25,2476,1246,962538205626274.25000000,962476603202034.12500000,905415427512427.50000000,905357480945766.00000000,23321.22706664,22772.85594445,46094.08301110,20979.97715770
20,2025-07-26,1385,808,484160727338968.68750000,484129741062193.12500000,474655770425359.31250000,474625392465980.75000000,11244.12397157,11213.89734498,22458.02131655,21050.36021289
21,2025-07-27,875,455,403346618001230.87500000,403320803827468.37500000,508074686515394.43750000,508042169745513.87500000,11798.51959721,11514.25839152,23312.77798873,21153.19738452
22,2025-07-28,647,320,1633159465861395.75000000,1633054943663396.75000000,1761190600073633.25000000,1761077883882719.25000000,8770.85340327,9334.57629266,18105.42969593,21020.68574588

In [63]:
daily_swaps_by_pool_usd = swaps_df_with_usd.groupby(['timestamp_', 'pool']).agg(
    total_swaps = ('count', 'sum'),
    users = ('to', lambda x: x.nunique()),
    first_asset_in = ('amount0In', 'sum'),
    first_asset_in_usd = ('amount_usd_in', 'sum'),
    first_asset_out = ('amount0Out', 'sum'),
    first_asset_out_usd = ('amount_usd_out', 'sum'),
    musd_in = ('amount1In', 'sum'),
    musd_out = ('amount1Out', 'sum')
).reset_index()

In [64]:
daily_swaps_by_pool_usd

,timestamp_,pool,total_swaps,users,first_asset_in,first_asset_in_usd,first_asset_out,first_asset_out_usd,musd_in,musd_out
0,2025-05-28,musd_btc_pool,1,1,0.00000000,0.00000000,0.00000916,1.08249261,1.00000000,0.00000000
1,2025-06-26,musd_musdt_pool,1,1,0.00000000,0.00000000,999896001631.97705078,999832008287.87268066,0.00000000,0.00000000
2,2025-07-07,musd_btc_pool,1,1,0.00000000,0.00000000,0.00015720,18.57305040,18.91000000,0.00000000
3,2025-07-07,musd_musdc_pool,1,1,2.01040000,2.00992756,0.00000000,0.00000000,0.00000000,2.00998984
4,2025-07-08,musd_btc_pool,1,1,0.00025000,29.53750000,0.00000000,0.00000000,0.00000000,28.46388002
5,2025-07-09,musd_btc_pool,6,2,0.00119020,140.62203770,0.00559111,660.58968983,619.70000000,129.90548079
6,2025-07-09,musd_musdc_pool,1,1,0.00000000,0.00000000,2.00950600,2.00903377,2.00990000,0.00000000
7,2025-07-09,musd_musdt_pool,1,1,1000000000000.00000000,999936000000.00000000,0.00000000,0.00000000,0.00000000,0.00000000
8,2025-07-10,musd_btc_pool,4,2,0.00488847,577.57321763,0.00607914,718.24986720,687.53000000,549.71876340
9,2025-07-11,musd_btc_pool,5,2,0.00004339,5.12652850,0.00589318,696.27872878,679.00978384,5.05123988
10,2025-07-11,musd_musdc_pool,3,1,7.00351500,7.00186917,2.00350500,2.00303418,2.00390625,7.00211500
11,2025-07-11,musd_musdt_pool,2,1,5000000000000.00000000,4999680000000.00000000,1009897999968.01782227,1009833366496.01989746,0.00000000,0.00000000
12,2025-07-12,musd_btc_pool,1,1,0.00000000,0.00000000,0.00085191,100.65286594,100.00000000,0.00000000
13,2025-07-14,musd_btc_pool,1,1,0.00000000,0.00000000,0.00340886,402.75626832,405.00000000,0.00000000
14,2025-07-15,musd_btc_pool,2,1,0.00360000,425.34000000,0.00000000,0.00000000,0.00000000,424.93095809
15,2025-07-16,musd_btc_pool,187,53,0.18833036,22251.23224651,0.19088809,22553.42755399,22644.04131862,22206.89646085
16,2025-07-16,musd_musdc_pool,49,23,6221.21316900,6219.75118391,6033.42677700,6032.00892171,6036.96670910,6222.29992417
17,2025-07-16,musd_musdt_pool,13,10,312400000000000.00000000,312380006400000.00000000,250711783965963.62500000,250695738411789.81250000,0.00000000,0.00000000
18,2025-07-17,musd_btc_pool,379,98,0.13543821,16002.02452909,0.13530569,15986.36702004,15977.97989548,15897.36126613
19,2025-07-17,musd_musdc_pool,113,24,4969.70253800,4968.53465790,3831.71505700,3830.81460396,3796.89301800,4929.59998601
20,2025-07-17,musd_musdt_pool,101,17,3489909720000000.00000000,3489686365777920.00000000,3710291888507895.00000000,3710054429827030.50000000,0.00000000,0.00000000
21,2025-07-18,musd_btc_pool,276,60,0.11944701,14112.66426729,0.11027647,13029.16470911,12682.46013419,13671.44835048
22,2025-07-18,musd_musdc_pool,1325,22,9395.48769800,9393.27975839,9978.96746300,9976.62240565,9966.01707486,9381.84623089
23,2025-07-18,musd_musdt_pool,33,18,851983800000000.00000000,851929273036800.00000000,710541733136957.12500000,710496258466036.50000000,0.00000000,0.00000000
24,2025-07-19,musd_btc_pool,959,209,0.17454526,20622.52214711,0.17460007,20628.99789638,20475.47946945,20348.80408649
25,2025-07-19,musd_musdc_pool,488,16,3576.59905900,3575.75855822,3263.40094400,3262.63404478,3251.08524800,3561.85410309
26,2025-07-19,musd_musdt_pool,31,18,637037700000000.00000000,636996929587200.00000000,857171194337345.75000000,857116335380908.12500000,0.00000000,0.00000000
27,2025-07-20,musd_btc_pool,379,118,0.10540865,12454.03154432,0.11101179,13116.04257784,12818.41994000,12093.00557658
28,2025-07-20,musd_musdc_pool,1117,59,14685.96102500,14682.50982416,15204.63200400,15201.05891548,15154.65344900,14631.33248308
29,2025-07-20,musd_musdt_pool,148,29,1078864141000000.00000000,1078795093694976.00000000,1298130718960195.25000000,1298047638594182.00000000,0.00000000,0.00000000
30,2025-07-21,musd_btc_pool,166,123,0.04453551,5261.87011237,0.03104532,3668.00509974,3688.41177200,5199.59828697
31,2025-07-21,musd_musdc_pool,578,38,7913.92071200,7912.06094063,7063.54722900,7061.88729540,7042.12508300,7885.46103536
32,2025-07-21,musd_musdt_pool,10,6,526935042000000.00000000,526901318157312.00000000,399894623888392.00000000,399869030632463.12500000,0.00000000,0.00000000
33,2025-07-22,musd_btc_pool,487,201,0.11117672,13135.52980289,0.12672433,14972.47962126,14937.15630913,13070.90336701
34,2025-07-22,musd_musdc_pool,63,35,4638.10821000,4637.01825457,3985.14822500,3984.21171517,3949.37003550,4585.62161422
35,2025-07-22,musd_musdt_pool,14,5,371564400000000.00000000,371540619878400.00000000,516361357216869.50000000,516328310090007.62500000,0.00000000,0.00000000
36,2025-07-23,musd_btc_pool,506,269,0.08575493,10131.94516398,0.08496663,10038.80766221,10013.94542957,10047.15236950
37,2025-07-23,musd_musdc_pool,95,25,2994.96795200,2994.26413453,3464.37168000,3463.55755266,3405.01576622,2946.69423372
38,2025-07-23,musd_musdt_pool,22,12,706716854434493.75000000,706671624555810.00000000,789502998154554.37500000,789452469962672.50000000,0.00000000,0.00000000
39,2025-07-24,musd_btc_pool,1828,1091,0.13359370,15784.09534455,0.13294022,15706.88670539,15673.37808396,15656.39587798
40,2025-07-24,musd_musdc_pool,338,159,3232.56407800,3231.80442544,2916.42964300,2915.74428203,2842.93175894,3150.60837830
41,2025-07-24,musd_musdt_pool,92,44,1476607556520429.00000000,1476513053636811.75000000,1562289873025719.25000000,1562189886473845.50000000,0.00000000,0.00000000
42,2025-07-25,musd_btc_pool,2092,1178,0.17706770,20920.54869436,0.17519988,20699.86555451,20562.71017186,20659.30696386
43,2025-07-25,musd_musdc_pool,261,185,2144.25464800,2143.75074816,2799.70263700,2799.04470688,2758.51689479,2113.54898059
44,2025-07-25,musd_musdt_pool,123,81,962538205624129.75000000,962476603178969.87500000,905415427509627.62500000,905357480922267.00000000,0.00000000,0.00000000
45,2025-07-26,musd_btc_pool,1215,784,0.08272891,9774.42037530,0.08403669,9928.93447366,9978.00252363,9763.71218071
46,2025-07-26,musd_musdc_pool,134,97,1468.60861500,1468.26349198,1282.06626500,1281.76497943,1266.12144794,1450.18516428
47,2025-07-26,musd_musdt_pool,36,32,484160727337500.00000000,484129741050950.37500000,474655770424077.12500000,474625392454770.00000000,0.00000000,0.00000000
48,2025-07-27,musd_btc_pool,749,436,0.08286034,9789.94874991,0.08511883,10056.78933835,10072.26769248,9742.12320503
49,2025-07-27,musd_musdc_pool,95,65,1795.94600900,1795.52396169,1748.73630400,1748.32535097,1726.25190473,1772.13518648
50,2025-07-27,musd_musdt_pool,31,22,403346617999434.87500000,403320803815882.87500000,508074686513645.62500000,508042169733708.81250000,0.00000000,0.00000000
51,2025-07-28,musd_btc_pool,540,311,0.06615750,7816.50888557,0.06340304,7491.06879859,7533.80024111,7816.94542428
52,2025-07-28,musd_musdc_pool,52,32,1545.49702200,1545.13383020,1259.07102600,1258.77514431,1237.05316215,1517.63086838
53,2025-07-28,musd_musdt_pool,55,27,1633159465859850.00000000,1633054943654035.00000000,1761190600072374.00000000,1761077883873969.50000000,0.00000000,0.00000000

In [65]:
daily_swaps_by_pool_usd = daily_swaps_by_pool_usd.pivot(
    index='timestamp_', columns='pool'
).fillna(0)

In [66]:
daily_swaps_by_pool_usd.columns = [
'_'.join(col).strip() for col in daily_swaps_by_pool_usd.columns.values
]

daily_swaps_by_pool_usd = daily_swaps_by_pool_usd.reset_index()

In [67]:
daily_swaps_by_pool_usd

,timestamp_,total_swaps_musd_btc_pool,total_swaps_musd_musdc_pool,total_swaps_musd_musdt_pool,users_musd_btc_pool,users_musd_musdc_pool,users_musd_musdt_pool,first_asset_in_musd_btc_pool,first_asset_in_musd_musdc_pool,first_asset_in_musd_musdt_pool,...,first_asset_out_musd_musdt_pool,first_asset_out_usd_musd_btc_pool,first_asset_out_usd_musd_musdc_pool,first_asset_out_usd_musd_musdt_pool,musd_in_musd_btc_pool,musd_in_musd_musdc_pool,musd_in_musd_musdt_pool,musd_out_musd_btc_pool,musd_out_musd_musdc_pool,musd_out_musd_musdt_pool
0,2025-05-28,1.00000000,0.00000000,0.00000000,1.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,...,0.00000000,1.08249261,0.00000000,0.00000000,1.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000
1,2025-06-26,0.00000000,0.00000000,1.00000000,0.00000000,0.00000000,1.00000000,0.00000000,0.00000000,0.00000000,...,999896001631.97705078,0.00000000,0.00000000,999832008287.87268066,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000
2,2025-07-07,1.00000000,1.00000000,0.00000000,1.00000000,1.00000000,0.00000000,0.00000000,2.01040000,0.00000000,...,0.00000000,18.57305040,0.00000000,0.00000000,18.91000000,0.00000000,0.00000000,0.00000000,2.00998984,0.00000000
3,2025-07-08,1.00000000,0.00000000,0.00000000,1.00000000,0.00000000,0.00000000,0.00025000,0.00000000,0.00000000,...,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,28.46388002,0.00000000,0.00000000
4,2025-07-09,6.00000000,1.00000000,1.00000000,2.00000000,1.00000000,1.00000000,0.00119020,0.00000000,1000000000000.00000000,...,0.00000000,660.58968983,2.00903377,0.00000000,619.70000000,2.00990000,0.00000000,129.90548079,0.00000000,0.00000000
5,2025-07-10,4.00000000,0.00000000,0.00000000,2.00000000,0.00000000,0.00000000,0.00488847,0.00000000,0.00000000,...,0.00000000,718.24986720,0.00000000,0.00000000,687.53000000,0.00000000,0.00000000,549.71876340,0.00000000,0.00000000
6,2025-07-11,5.00000000,3.00000000,2.00000000,2.00000000,1.00000000,1.00000000,0.00004339,7.00351500,5000000000000.00000000,...,1009897999968.01782227,696.27872878,2.00303418,1009833366496.01989746,679.00978384,2.00390625,0.00000000,5.05123988,7.00211500,0.00000000
7,2025-07-12,1.00000000,0.00000000,0.00000000,1.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,...,0.00000000,100.65286594,0.00000000,0.00000000,100.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000
8,2025-07-14,1.00000000,0.00000000,0.00000000,1.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,...,0.00000000,402.75626832,0.00000000,0.00000000,405.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000
9,2025-07-15,2.00000000,0.00000000,0.00000000,1.00000000,0.00000000,0.00000000,0.00360000,0.00000000,0.00000000,...,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,424.93095809,0.00000000,0.00000000
10,2025-07-16,187.00000000,49.00000000,13.00000000,53.00000000,23.00000000,10.00000000,0.18833036,6221.21316900,312400000000000.00000000,...,250711783965963.62500000,22553.42755399,6032.00892171,250695738411789.81250000,22644.04131862,6036.96670910,0.00000000,22206.89646085,6222.29992417,0.00000000
11,2025-07-17,379.00000000,113.00000000,101.00000000,98.00000000,24.00000000,17.00000000,0.13543821,4969.70253800,3489909720000000.00000000,...,3710291888507895.00000000,15986.36702004,3830.81460396,3710054429827030.50000000,15977.97989548,3796.89301800,0.00000000,15897.36126613,4929.59998601,0.00000000
12,2025-07-18,276.00000000,1325.00000000,33.00000000,60.00000000,22.00000000,18.00000000,0.11944701,9395.48769800,851983800000000.00000000,...,710541733136957.12500000,13029.16470911,9976.62240565,710496258466036.50000000,12682.46013419,9966.01707486,0.00000000,13671.44835048,9381.84623089,0.00000000
13,2025-07-19,959.00000000,488.00000000,31.00000000,209.00000000,16.00000000,18.00000000,0.17454526,3576.59905900,637037700000000.00000000,...,857171194337345.75000000,20628.99789638,3262.63404478,857116335380908.12500000,20475.47946945,3251.08524800,0.00000000,20348.80408649,3561.85410309,0.00000000
14,2025-07-20,379.00000000,1117.00000000,148.00000000,118.00000000,59.00000000,29.00000000,0.10540865,14685.96102500,1078864141000000.00000000,...,1298130718960195.25000000,13116.04257784,15201.05891548,1298047638594182.00000000,12818.41994000,15154.65344900,0.00000000,12093.00557658,14631.33248308,0.00000000
15,2025-07-21,166.00000000,578.00000000,10.00000000,123.00000000,38.00000000,6.00000000,0.04453551,7913.92071200,526935042000000.00000000,...,399894623888392.00000000,3668.00509974,7061.88729540,399869030632463.12500000,3688.41177200,7042.12508300,0.00000000,5199.59828697,7885.46103536,0.00000000
16,2025-07-22,487.00000000,63.00000000,14.00000000,201.00000000,35.00000000,5.00000000,0.11117672,4638.10821000,371564400000000.00000000,...,516361357216869.50000000,14972.47962126,3984.21171517,516328310090007.62500000,14937.15630913,3949.37003550,0.00000000,13070.90336701,4585.62161422,0.00000000
17,2025-07-23,506.00000000,95.00000000,22.00000000,269.00000000,25.00000000,12.00000000,0.08575493,2994.96795200,706716854434493.75000000,...,789502998154554.37500000,10038.80766221,3463.55755266,789452469962672.50000000,10013.94542957,3405.01576622,0.00000000,10047.15236950,2946.69423372,0.00000000
18,2025-07-24,1828.00000000,338.00000000,92.00000000,1091.00000000,159.00000000,44.00000000,0.13359370,3232.56407800,1476607556520429.00000000,...,1562289873025719.25000000,15706.88670539,2915.74428203,1562189886473845.50000000,15673.37808396,2842.93175894,0.00000000,15656.39587798,3150.60837830,0.00000000
19,2025-07-25,2092.00000000,261.00000000,123.00000000,1178.00000000,185.00000000,81.00000000,0.17706770,2144.25464800,962538205624129.75000000,...,905415427509627.62500000,20699.86555451,2799.04470688,905357480922267.00000000,20562.71017186,2758.51689479,0.00000000,20659.30696386,2113.54898059,0.00000000
20,2025-07-26,1215.00000000,134.00000000,36.00000000,784.00000000,97.00000000,32.00000000,0.08272891,1468.60861500,484160727337500.00000000,...,474655770424077.12500000,9928.93447366,1281.76497943,474625392454770.00000000,9978.00252363,1266.12144794,0.00000000,9763.71218071,1450.18516428,0.00000000
21,2025-07-27,749.00000000,95.00000000,31.00000000,436.00000000,65.00000000,22.00000000,0.08286034,1795.94600900,403346617999434.87500000,...,508074686513645.62500000,10056.78933835,1748.32535097,508042169733708.81250000,10072.26769248,1726.25190473,0.00000000,9742.12320503,1772.13518648,0.00000000
22,2025-07-28,540.00000000,52.00000000,55.00000000,311.00000000,32.00000000,27.00000000,0.06615750,1545.49702200,1633159465859850.00000000,...,1761190600072374.00000000,7491.06879859,1258.77514431,1761077883873969.50000000,7533.80024111,1237.05316215,0.00000000,7816.94542428,1517.63086838,0.00000000

In [68]:
def add_pool_volume_columns(df, in_suffix='_in', out_suffix='_out'):
    """
    Add volume columns for each pool in a pivoted daily swaps dataframe.
    
    Args:
        df: DataFrame with columns like 'musd_in_POOL1', 'musd_out_POOL1', etc.
        in_suffix: Suffix for inflow columns (default: '_in')
        out_suffix: Suffix for outflow columns (default: '_out')
    
    Returns:
        DataFrame with additional 'volume_POOL' columns
    """
    # Extract pool names from column names in one pass
    in_pools = {col.replace(f'musd{in_suffix}_', '') for col in df.columns if col.startswith(f'musd{in_suffix}_')}
    out_pools = {col.replace(f'musd{out_suffix}_', '') for col in df.columns if col.startswith(f'musd{out_suffix}_')}
    
    # Only create volume columns for pools that have both in and out columns
    pools_with_both = in_pools & out_pools
    
    # Create volume columns using dictionary comprehension
    volume_columns = {
        f'volume_{pool}': df[f'musd{in_suffix}_{pool}'] + df[f'musd{out_suffix}_{pool}']
        for pool in pools_with_both
    }
    
    return df.assign(**volume_columns)

In [69]:
daily_swaps_by_pool_usd_with_vol = add_pool_volume_columns(
    daily_swaps_by_pool_usd, 
    in_suffix='_in', 
    out_suffix='_out'
)

In [ ]:
daily_swaps_by_pool_usd_with_vol['volume_musd_btc_pool',
       'volume_musd_musdc_pool', 'volume_musd_musdt_pool']

Index(['timestamp_', 'total_swaps_musd_btc_pool',
       'total_swaps_musd_musdc_pool', 'total_swaps_musd_musdt_pool',
       'users_musd_btc_pool', 'users_musd_musdc_pool', 'users_musd_musdt_pool',
       'first_asset_in_musd_btc_pool', 'first_asset_in_musd_musdc_pool',
       'first_asset_in_musd_musdt_pool', 'first_asset_in_usd_musd_btc_pool',
       'first_asset_in_usd_musd_musdc_pool',
       'first_asset_in_usd_musd_musdt_pool', 'first_asset_out_musd_btc_pool',
       'first_asset_out_musd_musdc_pool', 'first_asset_out_musd_musdt_pool',
       'first_asset_out_usd_musd_btc_pool',
       'first_asset_out_usd_musd_musdc_pool',
       'first_asset_out_usd_musd_musdt_pool', 'musd_in_musd_btc_pool',
       'musd_in_musd_musdc_pool', 'musd_in_musd_musdt_pool',
       'musd_out_musd_btc_pool', 'musd_out_musd_musdc_pool',
       'musd_out_musd_musdt_pool', 'volume_musd_btc_pool',
       'volume_musd_musdc_pool', 'volume_musd_musdt_pool'],
      dtype='object')