# Vaults - Setup

In [18]:
import pandas as pd
from dotenv import load_dotenv
import os
import requests
from mezo.currency_utils import get_token_price, format_musd_currency_columns
from mezo.datetime_utils import format_datetimes
from mezo.data_utils import add_rolling_values, add_pct_change_columns, add_cumulative_columns
from mezo.clients import BigQueryClient, SubgraphClient, Web3Client

load_dotenv(dotenv_path='../.env', override=True)
COINGECKO_KEY = os.getenv('COINGECKO_KEY')

In [19]:
# Subgraph Setup

AUGUST_VAULT_SUBGRAPH = "https://api.goldsky.com/api/public/project_cm6ks2x8um4aj01uj8nwg1f6r/subgraphs/mezo-vaults-mezo/1.0.0/gn"

SUBGRAPH_HEADERS = {
        "Content-Type": "application/json",
    }

GET_VAULT_TRANSFERS = """
query vaultTransfers($skip: Int!) {
  transfers(
    first: 1000
    orderBy: timestamp_
    orderDirection: desc
    skip: $skip
) {
    timestamp_
    from
    to
    value
    transactionHash_
    block_number
  }
}
"""

In [20]:
# Instantiate subgraph

vault = SubgraphClient(
    url = AUGUST_VAULT_SUBGRAPH, 
    headers = SUBGRAPH_HEADERS
)

In [21]:
# Fetch subgraph data
vaults =  vault.fetch_subgraph_data(GET_VAULT_TRANSFERS, 'transfers')

Fetching transactions with skip=0...
Fetching transactions with skip=1000...
Fetching transactions with skip=2000...
Fetching transactions with skip=3000...
Fetching transactions with skip=4000...
Fetching transactions with skip=5000...
Fetching transactions with skip=6000...
Fetching transactions with skip=7000...
Fetching transactions with skip=8000...
No more records found.

In [22]:
# Save vaults data df

vaults_df = pd.DataFrame(vaults)
display(vaults_df)

,timestamp_,from,to,value,transactionHash_,block_number
0,1756298984,0x0000000000000000000000000000000000000000,0xe3884a72546f65944df71d7199c038270519511b,10000000000000000,0x4606b5c80e127598a3546c1a909df5022087f658347d...,2740482
1,1756298408,0xcd4c4ac79098310d63537ecf519d36412077200c,0x0000000000000000000000000000000000000000,1068275890279924972659,0x16b0221286022113b3bd28e6c9c80c45195adc8db29b...,2740322
2,1756298041,0x0000000000000000000000000000000000000000,0xb0e5453ed14b2e17e41d35e114f5c530bd604361,219000000000000000000,0x7dc48d37f8ce9f9819e1d9377df4630406b513293e7e...,2740220
3,1756295259,0x91ad95702fedc4b83843d3f3aaaa9f0ef68f71ff,0x0000000000000000000000000000000000000000,571550118709272009661,0x33ac0f0c54ea241a7669c2fe2614badc1f5fb4305c92...,2739446
4,1756295201,0xb2991c8dd07969d09856da81c6143d2d12c84e56,0x0000000000000000000000000000000000000000,11850354755871040981,0xb9d7a997bc8f5aae1d18f87ee9009ce63e4e61fccddf...,2739430
...,...,...,...,...,...,...
7798,1750924920,0x0000000000000000000000000000000000000000,0x6e80164ea60673d64d5d6228beb684a1274bb017,1000000000000000000,0xf94447d87f136b744db7d595d441d468fca44162c337...,1257108
7799,1750899066,0x0000000000000000000000000000000000000000,0x83db892a6688b966122be219fa873bf24d7db79f,5000000000000000000,0x6a633ddd97ece5fd9c72271c72745a20c75635f93932...,1250310
7800,1750894224,0x0000000000000000000000000000000000000000,0x83db892a6688b966122be219fa873bf24d7db79f,10000000000000000000,0xb1414979063a26c67326912e08202b38a096e43456aa...,1249036
7801,1750853682,0x0000000000000000000000000000000000000000,0x6e80164ea60673d64d5d6228beb684a1274bb017,1000000000000000000,0xeadd15fb5deaf6f11e2bfd1a9421ae40de826f8a5e3e...,1238184
7802,1750852804,0x0000000000000000000000000000000000000000,0x6e80164ea60673d64d5d6228beb684a1274bb017,1000000000000000000,0x49e08d2de4d1afa5837841699f296f82ee34e8da7d56...,1237938

In [23]:
vaults_df.columns

Index(['timestamp_', 'from', 'to', 'value', 'transactionHash_',
       'block_number'],
      dtype='object')

In [ ]:
# Exploration 
vaults_df = format_musd_currency_columns(vaults_df, ['value'])

In [ ]:
vaults_df = format_datetimes(vaults_df, ['timestamp_'])

In [ ]:
vaults_df['type'] = 'transfer'  # default value
vaults_df.loc[vaults_df['from'] == '0x0000000000000000000000000000000000000000', 'type'] = 'deposit' 
vaults_df.loc[vaults_df['to'] == '0x0000000000000000000000000000000000000000', 'type'] = 'withdrawal'

# Display the result
display(vaults_df[['from', 'to', 'type']].head(10))
print(f"\nType distribution:")
print(vaults_df['type'].value_counts())

In [ ]:
deposits = vaults_df.loc[vaults_df['from'] == '0x0000000000000000000000000000000000000000']
withdrawals = vaults_df.loc[vaults_df['to'] == '0x0000000000000000000000000000000000000000']

In [ ]:
total_deposit_amt = sum(deposits['value'])
total_withdrawal_amt = sum(withdrawals['value'])
tvl = total_deposit_amt - total_withdrawal_amt

In [ ]:
total_depositors = deposits['to'].nunique()
total_deposits = deposits['to'].count()

In [ ]:
total_withdrawers = withdrawals['from'].nunique()
total_withdrawals = withdrawals['from'].count()

In [ ]:
daily_vault_txns = vaults_df.groupby(['timestamp_']).agg(
    value = ('value', 'sum'),
    transactions = ('count', 'sum'),
    users = ('to', lambda x: x.nunique())
).reset_index().sort_values(by='timestamp_', ascending=False)

In [ ]:
daily_vault_txns

In [ ]:
import requests

vault_contract = "0x221B2D9aD7B994861Af3f4c8A80c86C4aa86Bf53"
url = f"https://api.explorer.mezo.org/api/v2/addresses/{vault_contract}/transactions"
transaction_fees = {}


# Create list to store all transaction data
transactions_list = []
next_page_params = None
page_count = 0
method = 'deposit'

while True:
        page_count += 1
        print(f"Fetching page {page_count}...")

        # Build URL with pagination parameters
        if next_page_params:
                response = requests.get(url, params=next_page_params)
        else:
                response = requests.get(url)

        if response.status_code != 200:
                print(f"Error: {response.status_code} - {response.text}")
                break
                
        data = response.json()
        transactions = data.get("items", [])

        if not transactions:
                print("No more transactions found.")
                break

        print(f"Found {len(transactions)} transactions on page {page_count}")

        for tx in data.get("items", []):
                tx_data = {
                        'timestamp_': tx.get('timestamp'),
                        'method': tx.get('method'),
                        'fee_value': int(tx.get('fee', {}).get('value', 0)) if tx.get('fee') else 0,
                        'has_error': tx.get('has_error_in_internal_txs', False),
                        'from_address': tx.get('from', {}).get('hash') if tx.get('from') else None,
                        'to_address': tx.get('to', {}).get('hash') if tx.get('to') else None,
                        'transactionHash_': tx.get('hash'),
                        'block_number': tx.get('block'),
                }

        # Extract decoded input parameters if available
              # Extract only the first decoded parameter (i=0)
                if tx.get('decoded_input') and tx.get('decoded_input').get('parameters'):
                        parameters = tx.get('decoded_input').get('parameters')
                        if len(parameters) > 0:
                                first_param = parameters[0]
                                tx_data['param_0_name'] = first_param.get('name')
                                tx_data['param_0_value'] = str(first_param.get('value'))
                
                transactions_list.append(tx_data)
          
          # Check for next page
        next_page_params = data.get("next_page_params")
        if not next_page_params:
               print("Reached last page.")
               break

# Create DataFrame
transactions_df = pd.DataFrame(transactions_list)

# Display the DataFrame
print(f"Created DataFrame with {len(transactions_df)} transactions")
print(f"Columns: {list(transactions_df.columns)}")
print(f"Methods found: {transactions_df['method'].value_counts()}")

# Display summary
print(f"\n✅ Created DataFrame with {len(transactions_df)} total transactions")
print(f"📊 Columns: {list(transactions_df.columns)}")
print(f"🔧 Methods found: {transactions_df['method'].value_counts()}")
print(f"📅 Date range: {transactions_df['timestamp_'].min()} to {transactions_df['timestamp_'].max()}")

# Show sample data
print(f"\n🔍 First 5 transactions:")
print(transactions_df.head())

# Show transaction fees by method
print(f"\n💰 Average fees by method:")
fee_by_method = transactions_df.groupby('method')['fee_value'].agg(['count', 'mean','sum']).round(0)
print(fee_by_method)

In [17]:
api_url = f'https://api.explorer.mezo.org/api/v2/addresses/{vault_contract}'
response = requests.get(api_url)
data = response.json()

upMUSD_supply = data.get("token").get('total_supply')
upMUSD_supply =  int(upMUSD_supply) / 1e18
upMUSD_supply

1310238.0359813285